
<section>
	<div class="container py-5">
		<div class="row justify-content-center">
			
			<div class="col-md-10 mb-3 col-12">
				<div class="p-2 bg-secondary">
					<h3 class="text-white align-content-start mb-0">KYC FOR NON-INDIVIDUALS</h3>
				</div>				
			</div>	
					
			<div class="col-md-10 col-12">
				<div class="p-3 border mb-5">
				
					<form ng-controller="kycnonindividualController" name = "kycnonindividualForm"  id="kycnonindividualForm" autocomplete="off">
						<div class="form-group row">
							<div class="col-md-6 col-sm-6 col-12">
								<div class="partition-bg p-2">
									<label for="FormNo">Form No</label>
                                    <input type="text" class="form-control" ng-model="kycnonindividualForm.FormNo" id="FormNo" placeholder="Form No">
								</div>
                            </div>	
                            <div class="col-md-6 col-sm-6 col-12">
                            <div class="partition-bg p-2">
                                <label for="customerstatusid">Customer Status</label>
                                <select id="customerstatusid" ng-model="customerstatusid.customerstatusidId"
                                    ng-options="customerstatusid.ID as customerstatusid.DESC for customerstatusid in customerstatusid.customerstatusidlist"
                                    ng-change="GetSelectedCustomerstatusid()" class="form-control">
                                    <option value="">Select Customer Status</option>
                                </select>
                            </div> 
                            </div>
                        </div>
                        
						<h5>A. Identity Details (As per Certificate of Incorporation / Registration)</h5>
						<div class="form-group row">
							<div class="col-md-6 col-sm-4 col-12">
								<div class="partition-bg p-2">
									<label for="NameOfApplicant">Name of Applicant</label>
									<input type="text" class="form-control" ng-model="kycnonindividualForm.Name_of_Applicant" id="Name_of_Applicant" placeholder="Enter Name of Applicant" required="required">
								</div>
							</div>
							<div class="col-md-6 col-sm-4 col-12">
								<div class="partition-bg p-2">
									<label for="DateOfIncorporation">Date of Birth</label>
									<!-- <input datetime-picker class="form-control" id="dob"  placeholder="Enter Date of Incorporation" required> -->
                                    <input datetime-picker class="form-control" id="kycnonindividualForm.incorporation_date" ng-model="kycnonindividualForm.incorporation_date" placeholder="Enter Date of Incorporation">

                                </div>
							</div>													
                        </div> 
                        <div class="form-group row">
                                <div class="col-md-6 col-sm-6 col-12">
                                        <div class="partition-bg p-2">
                                            <label for="Place_of_Incorporation">Place of Incorporation</label>
                                            <input type="text" class="form-control" ng-model="kycnonindividualForm.Place_of_Incorporation" id="Place_of_Incorporation"  placeholder="Enter Place of Incorporation" required>
                                        </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="partition-bg p-2">		
                                        <label for="Registration_Number">Registration No.</label>						
                                        <input type="text" class="form-control" ng-model="kycnonindividualForm.Registration_Number" id="Registration_Number"  placeholder="Enter Registration No." required>
                                    </div>
                                </div>                                
                        </div>

                        <div class="form-group row">
							<div class="col-md-6 col-sm-4 col-12">
								<div class="partition-bg p-2">
                                    <label for="Date_commencement_of_business">Date of Commencement of Business</label>
                                    <input datetime-picker class="form-control" id="kycnonindividualForm.commencement_of_business" ng-model="kycnonindividualForm.commencement_of_business" placeholder="Enter Date of Commencement of Business">

									<!-- <input datetime-picker class="form-control" id="dob"  placeholder="Enter Date of Commencement of Business"> -->
								</div>
							</div>
							<div class="col-md-6 col-sm-4 col-12">
								<div class="partition-bg p-2">
                                    <label for="applicantType">Applicant Type</label>
                                    <select id="applicantType" ng-model="applicantType.applicantTypeId"
                                    ng-options="applicantType.ID as applicantType.DESC for applicantType in applicantType.applicantTypelist"
                                    ng-change="GetSelectedApplicantType()" class="form-control">
                                    <option value="">Select Applicant Type</option>
                                    </select>                                 
									<!-- <select class="form-control" id="gender">	
										<option value="">------Applicant Type------</option>
										<option value="Type 1">Type 1</option>
										<option value="Type 2">Type 2</option>
                                        <option value="Type 3">Type 3</option>                                        									
									</select> -->
								</div>
							</div>													
                        </div> 
                        <div class="form-group row">
                                <div class="col-md-6 col-sm-6 col-12">
                                        <div class="partition-bg p-2">
                                            <label for="orgstatus">Organisation Status</label>
                                            <!-- <select class="form-control" id="orgstatus">	
                                                    <option value="">------Organisation Status-----</option>
                                                    <option value="Org Status 1">Org Status 1</option>
                                                    <option value="Org Status 2">Org Status 2</option>
                                                    <option value="Org Status 3">Org Status 3</option>
                                                    <option value="Org Status 4">Org Status 4</option>                                                                   									
                                            </select> -->

                                            <select id="organizationStatus" ng-model="organizationStatus.organizationStatusId"
                                    ng-options="organizationStatus.ID as organizationStatus.DESC for organizationStatus in organizationStatus.organizationStatuslist"
                                    ng-change="GetSelectedOrganizationStatus()" class="form-control">
                                    <option value="">Select Organisation Status</option>
                                    </select> 
                                        </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <!-- <div class="partition-bg p-2">		
                                        <label for="PAN_NO">PAN No.</label>						
                                        <input type="text" class="form-control" ng-model="kycnonindividualForm.PAN_NO" id="PAN_NO" placeholder="Enter PAN No.">
                                    </div> -->

                                    <div class="partition-bg p-2">
                                        <div class="f-col-2">
                                            <div class="form-group form-check mb-0 mt-4 r-pan-top"
                                                ng-init="kycnonindividualForm.HavePan=false">
                                                <input type="checkbox" class="form-check-input"
                                                    ng-model="kycnonindividualForm.HavePan"
                                                    ng-click="kycnonindividualForm.HavePan=!kycnonindividualForm.HavePan"
                                                    id="HavePan" name="havepan">
                                                <label class="form-check-label" for="havepan">Have PAN?</label>
                                            </div>
                                            <div class="form-group mb-0 ml-auto">
                                                <label for="panno">PAN No.</label>
                                                <input type="text" class="form-control mt-0"
                                                    ng-model="kycnonindividualForm.PanNo" id="PanNo"
                                                    ng-disabled="!kycnonindividualForm.HavePan" name="panno"
                                                    placeholder="Enter PAN No." style="max-width:100%" disabled="disabled">
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                        </div>
                        
                        <div class="form-group row">
                                <div class="col-md-12 col-sm-6 col-12">
                                    <div class="partition-bg p-2">		
                                        <label for="livingsince">CIF For Authorized Persons</label>
                                        <div class="f-col-2 mb-2">			
                                                <input type="text" class="form-control col-md-6 col-12" ng-model="kycnonindividualForm.CIF_For_Authorized_Person1" id="CIF_For_Authorized_Person1" placeholder="Enter Person#1">
                                                  <select id="cifdesignation1" ng-model="cifdesignation1.cifdesignationId"
                                                ng-options="cifdesignation1.ID as cifdesignation1.DESC for cifdesignation1 in cifdesignation1.cifdesignationlist"
                                                ng-change="GetSelectedDesignation1()" class="form-control col-md-6 col-12">
                                                <option value="">Select Designation</option>
                                                </select> 
                                               </div>
                                        <div class="f-col-2 mb-2">			
                                                <input type="text" class="form-control col-md-6 col-12" ng-model="kycnonindividualForm.CIF_For_Authorized_Person2" id="CIF_For_Authorized_Person2" placeholder="Enter Person#2">
                                                <select id="cifdesignation2" ng-model="cifdesignation2.cifdesignationId"
                                                ng-options="cifdesignation2.ID as cifdesignation2.DESC for cifdesignation2 in cifdesignation2.cifdesignationlist"
                                                ng-change="GetSelectedDesignation2()" class="form-control col-md-6 col-12">
                                                <option value="">Select Designation</option>
                                                </select> 
                                        </div> 
                                        <div class="f-col-2 mb-2">			
                                                <input type="text" class="form-control col-md-6 col-12" ng-model="kycnonindividualForm.CIF_For_Authorized_Person3" id="CIF_For_Authorized_Person3" placeholder="Enter Person#3">
                                                <select id="cifdesignation3" ng-model="cifdesignation3.cifdesignationId"
                                                ng-options="cifdesignation3.ID as cifdesignation3.DESC for cifdesignation3 in cifdesignation3.cifdesignationlist"
                                                ng-change="GetSelectedDesignation3()" class="form-control col-md-6 col-12">
                                                <option value="">Select Designation</option>
                                                </select> 
                                        </div>                                         
                                    </div>
                                </div>                                
                        </div>

                        <h5>B. Address Details</h5>  
						<div class="form-group row">
							<div class="col-md-12 mb-2">
								<div class="partition-bg p-2">
									<label for="address">Address for Correspondence</label>
									<div class="f-col-3 mb-2">                                            
                                        <input type="text" class="form-control col-md-4 col-12" ng-model="kycnonindividualForm.Address_for_Correspondence1" id="Address_for_Correspondence1" placeholder="Enter add1">
                                        <input type="text" class="form-control col-md-4 col-12" ng-model="kycnonindividualForm.Address_for_Correspondence2" id="Address_for_Correspondence2" placeholder="Enter add2">
                                        <input type="text" class="form-control col-md-4 col-12" ng-model="kycnonindividualForm.Address_for_Correspondence3" id="Address_for_Correspondence3" placeholder="Enter add3">
                                    </div>
                                    <div class="f-col-3 mb-2">
                                        <select id="district" ng-model="district.districtId"
                                        ng-options="district.ID as district.DESC for district in district.districtlist"
                                        ng-change="GetSelectedDistrict()" 	class="form-control col-md-4 col-12">
                                        <option value="">Select District</option>
                                        </select>
                                        <select id="block" ng-model="block.blockId"
                                        ng-options="block.ID as block.DESC for block in block.blocklist"
                                        ng-change="GetSelectedBlock()" 	class="form-control col-md-4 col-12">
                                        <option value="">Select Block</option>
                                        </select>
                                        <select id="gp" ng-model="gp.gpId"
                                        ng-options="gp.ID as gp.DESC for gp in gp.gplist"
                                        ng-change="GetSelectedGP()" 	class="form-control col-md-4 col-12">
                                        <option value="">Select GP</option>
                                        </select>
                                    </div>
                                    <div class="f-col-3">
                                        <select id="village" ng-model="village.villageId"
                                        ng-options="village.ID as village.DESC for village in village.villagelist"
                                        ng-change="GetSelectedVillage()" 	class="form-control col-md-4 col-12">
                                        <option value="">Select Village</option>
                                        </select>                                       
                                            <input type="text" class="form-control col-md-4 col-12" ng-model="kycnonindividualForm.pin" id="pin" placeholder="Enter Pin">                                            
                                            <input type="text" class="form-control col-md-4 col-12" ng-model="kycnonindividualForm.landmark" id="landmark" placeholder="Enter Landmark">
                                    </div>
								</div>
							</div>									
						</div>
                        
                        <div class="form-group row">                                
                                <div class="col-md-12 col-sm-6 col-12">
                                    <div class="partition-bg p-2">
                                        <label for="ContactNumber">Contact Details</label>
                                        <div class="f-col-3">
                                        <input type="tel" class="form-control col-md-4 col-12" ng-model="kycnonindividualForm.Landline_Number" id="Landline_Number" placeholder="Enter Landline no">
                                        <input type="tel" class="form-control col-md-4 col-12" ng-model="kycnonindividualForm.Mobile_Number" id="Mobile_Number" placeholder="Enter Mobile no" minlength="10" maxlength="10">
                                        <input type="email" class="form-control col-md-4 col-12" ng-model="kycnonindividualForm.Email" id="Email" placeholder="Enter Email">
                                        </div>
                                    </div>
                                </div>
                        </div>
                        
                        <div class="form-group row">
                                <div class="col-md-12 col-sm-6 col-12">
                                    <div class="partition-bg p-2">		
                                        <label for="livingsince">Proof of Address</label>
                                        <div class="f-col-2 mb-2" style="margin-top:0 !important">			
                                            <select id="addressType" ng-model="addressType.addressTypeId"
                                            ng-options="addressType.ID as addressType.DESC for addressType in addressType.addressTypelist"
                                            ng-change="GetSelectedaddressType()" 	class="form-control col-md-6 col-12">
                                            <option value="">Select Address Type</option>
                                            </select>
    
                                            <select id="addressDocument" ng-model="addressDocument.addressDocumentId"
                                            ng-options="addressDocument.ID as addressDocument.DESC for addressDocument in addressDocument.addressDocumentlist"
                                            ng-change="GetSelectedaddressDocument()" 	class="form-control col-md-6 col-12">
                                            <option value="">Select Address Document</option>
                                            </select>
                                        </div>                                        
                                    </div>
                                </div>                                
                        </div>
                        
                        <h5>C. Other Details</h5>

                        <div class="form-group row">
                                <div class="col-md-4 col-sm-6 col-12">
                                    <div class="partition-bg p-2">		
                                        <label for="Gross_Annual_Income">Gross Annual Income</label>						
                                        <input type="number" class="form-control" ng-model="kycnonindividualForm.Gross_Annual_Income" id="Gross_Annual_Income" placeholder="Enter Gross Annual Income">
                                    </div>
                                </div>
                                <!-- <div class="col-md-4 col-sm-6 col-12">
                                    <div class="partition-bg p-2">
                                        <label for="Net_Worth">Net Worth</label>
                                        <input type="number" class="form-control" ng-model="kycnonindividualForm.Net_Worth" id="Net_Worth" placeholder="Enter Net Worth">
                                    </div>
                                </div> -->
                                <div class="col-md-4 col-sm-6 col-12">
                                <div class="partition-bg p-2">
                                    <label for="incometype">Income Type</label>
                                    <select id="incometype" ng-model="incometype.incometypeId"
                                        ng-options="incometype.ID as incometype.DESC for incometype in incometype.incometypelist"
                                        ng-change="GetSelectedIncometype()" class="form-control">
                                        <option value="">Select Income Type</option>
                                    </select> 
                                </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-12">
                                        <div class="partition-bg p-2">
                                            <label for="assondate">As On Date</label>
                                            <input datetime-picker class="form-control" id="kycnonindividualForm.Br_Opening_Date" ng-model="kycnonindividualForm.as_on_date" placeholder="As On Date">
                                        </div>
                                </div>
                        </div>
                        
                        <div class="form-group row">                                
                                <div class="col-lg-12 col-sm-12 col-12">
                                        <div class="partition-bg p-2">
                                            <label for="Any_Other_Information">Any other information</label>
                                            <input type="text" class="form-control" ng-model="kycnonindividualForm.Any_Other_Information" id="Any_Other_Information" placeholder="Any other information">
                                        </div>
                                </div>
                        </div>
						
						<div class="form-group row justify-content-end mb-0">
							<div class="col-md-4">													
								<button type="reset" value="Reset" class="btn btn-secondary px-4">Reset</button>
								<button type="submit" ng-click="submitForm()" class="btn btn-secondary px-4">Submit</button>  						
							</div>
						</div>
					</form>
					
				</div>
			</div>
			
		</div>		
	</div>
</section>