
*{margin: 0}

/*body{width: 100%;height: 100%;}*/
/*-----------------Color shadows----------------------*/
.shadow{box-shadow: 0px 12px 30px -15px rgba(48,48,47,1) !important;}
.primary-bg{background-color: #384aeb}
.primary-text{color: #384aeb}
.partition-bg{background-color: #e0e0e0;}

/*-----------------Navigation----------------------*/
/*nav{box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);}*/
.nav-item.active{background-color: #b7b7b766;}
.dropdown-item:focus, .dropdown-item:hover {color: #384aeb;text-decoration: none;background-color: #b7b7b766;}
.navbar-light .navbar-toggler {border-color: rgb(192, 192, 192);}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {color: rgb(56,74,235);}
.dropdown-menu{margin-top: 8px;transition: all 300ms ease-in;border-radius: 0;top: 120%;visibility: hidden !important;}
.nav-item.dropdown:hover .dropdown-menu{top: 100%;visibility: visible !important;}
#sidebar ul li a.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
#sidebar ul li a.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/*-----------------Form----------------------*/
.form-left-bg{background-position: center;background-size: 100% 100%;width: 100%;}
.form-control{border-radius: 0}
.border-btm{border-bottom: 1px solid #4647484d !important;}
.border-btm:focus{box-shadow: none !important;}
.form-control:focus {    
    box-shadow: 0px 12px 15px -15px rgb(48, 48, 47) !important;
}
.form-control:focus div.partition-bg{box-shadow: 0px 12px 15px -15px rgb(48, 48, 47) !important;}
.error{color: red}
.f-col-2{width: 100%;display: inline-flex;}
.f-col-2 input, .f-col-2 select{max-width: 49%; margin-right: 17px;}
.f-col-2 .m-rt-15{margin-right: 15px;}
.f-col-3{width: 100%;display: inline-flex;}
.f-col-3 input,.f-col-3 select{max-width: 32%; margin-right: 17px;}
.f-col-4{width: 100%;display: inline-flex;}
.f-col-4 input,.f-col-4 select{max-width: 24%; margin-right: 12px;}
.f-col-5{width: 100%;display: inline-flex;}
.f-col-5 input,.f-col-5 select{max-width: 18.9%; margin-right: 11.9px;}
.f-col-2-sub{width: 100%; display: inline-flex}
.f-col-2-sub input,.f-col-2-sub select{max-width: 48%;}
.f-col-2-sub input:first-child,.f-col-2-sub select:first-child{margin-right: 20px;}
.section-ht{height: 84px;}

/*-----------------Button----------------------*/
.btn{border-radius: 50px !important;}
.btn-primary-bg{color: white; background-color: #384aeb}
.btn-primary-bg:hover{color:white;background-color:rgba(46,59,170,1.00)}
.create-acc{border:1px solid #FFFFFF;margin: 0 auto;display: table;}
.create-acc:hover{background-color: aliceblue;color: #384aeb !important;}

/*-----------------Other Utilities----------------------*/
.decoration-none{text-decoration: none !important;}
.banner {position: relative;color: #4e4d4d;height: 220px;/*background: #f1f6f7;*/}
.banner img{width: 100%;}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-left {
  position: absolute;
  top: 50%;
  left: 11%;
  transform: translate(-50%, -50%);
}
.disreport{background-color: aliceblue; padding: 1px 10px; margin-left: 1px; color: #28a745}
.bd-highlight {background-color: rgba(86,61,124,.15); border: 1px solid rgba(86,61,124,.15);}

/*-----------------Footer----------------------*/
footer{width: 100%; position: absolute; bottom: 0; left: 0;}
.acc-footer{border-top: 1px solid #6c757d80;padding-bottom: 0 !important;}
.u-active{border: 1px solid #ccc;}

/*-----------------Media Queries----------------------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	h2{text-align: center}
	button{
		display: block;
		width: 100%;
		margin-bottom: 5px;		
	}
	.ctn-bot-75{margin-bottom: 75px}
    .nav-item .nav-link{padding-left: 10px;}
    header .d-flex{width: 90%;}
    .navbar-toggler{display: none;}
    .fixed-bottom {
        position: initial;        
    }
    .navbar-light .navbar-brand {        
        width: 100%;
        text-align: center;    
    }
    .loged-user{width: 100%;text-align: center;}

	/*-----------------Form----------------------*/
	.form-left-bg{background-position: center;background-size: 100% 100%;width: 100%;padding-top: 120px;padding-bottom: 120px;}
	.f-col-2{width: 100%;display: block;}
    .f-col-2 input:last-child{margin-top: 8px;}
    .f-col-2 select{margin-bottom:8px;}
    .f-col-2 input,.f-col-2 select{max-width: 100%;}
    .f-col-2 .m-rt-15{margin-right: 0;}
    .f-col-2-sub {width: 100%;display: block;}
    .f-col-2-sub input,.f-col-2-sub select{max-width: 100%;margin-bottom: 8px}

    .f-col-3{width: 100%;display: block;}
	.f-col-3 input,.f-col-3 select {margin-bottom: 8px;}
    .f-col-3 input,.f-col-3 select{max-width: 100%;}

    .f-col-4{width: 100%;display: block;}
	.f-col-4 input {margin-top: 8px;}
    .f-col-4 input,.f-col-4 select{max-width: 100%;}

    .f-col-5{width: 100%;display: block;}
	.f-col-5 input {margin-top: 8px;}
    .f-col-5 input,.f-col-5 select{max-width: 100%;}
    .f-col-5 select{margin-top: 8px;}

    .section-ht{height: 15px;}
    .r-pan-top{margin-top: 0 !important;margin-bottom: 15px !important;}

	/*-----------------Footer----------------------*/
	footer .flex-wrap .p-2{text-align: center}
    footer .flex-wrap .p-2:last-child{width: 100%;text-align: center;}    
}
@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
	/*-----------------Form----------------------*/
	.form-left-bg{background-position: center;background-size: 100% 100%;width: 100%;padding-top: 120px;padding-bottom: 120px;}
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: inherit;    
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
    text-decoration: none;
}

#sidebar ul li.active>a,
#sidebar ul li a[aria-expanded="true"] {
    color: #fff !important;
    background: #6d7fcc !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

/*.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}*/

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

label{font-size:15px !important;font-weight:400;}  /* field heading */
input,select{    height: 28px !important; 
    font-size: 12px !important;} /* input box and select box */
select{padding-top: 4px !important;} /* field heading */
h5{font-size: 20px !important;} /*h5 heading */
h3{font-size: 23px !important;;text-align: center !important;} /* h3 heading */