
<section>
	<div class="container py-5">
		<div class="row justify-content-center">
			
			<div class="col-md-10 mb-3 col-12">
				<div class="p-2 bg-secondary">
					<h3 class="text-white align-content-start mb-0">GROUPS/INSTITUTIONS WITH CUSTOMER MAPPING</h3>
				</div>				
			</div>	
					
			<div class="col-md-10 col-12">
				<div class="p-3 border mb-5">				
					<form ng-controller="customermapController" name = "customermapForm" id="customermapForm">	
                        <div class="form-group row">
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="partition-bg p-2">		
                                        <label for="orgcifno">Organisation CIF No.</label>						
                                        <input type="text" class="form-control" id="orgcifno" placeholder="Enter Organisation CIF No.">
                                        <a href="#" class="disreport">Display Organisation Details (View)</a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="partition-bg p-2">		
                                        <label for="indcifno">Individual CIF No.</label>						
                                        <input type="text" class="form-control" id="indcifno" placeholder="Enter Individual CIF No.">
                                        <a href="#" class="disreport">Display Individuals Details (View)</a>
                                    </div>
                                </div>                                
                        </div>

                        <div class="form-group row">                                                       
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="partition-bg p-2">
                                    <label for="designation">Designation</label>
                                    <select class="form-control" id="designation">	
                                            <option value="">------Designation-----</option>
                                            <option value="Identity 1">designation 1</option>
                                            <option value="Identity 2">designation 2</option>
                                            <option value="Identity 3">designation 3</option>
                                            <option value="Identity 4">designation 4</option>                                                                   									
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="partition-bg p-2">		
                                    <label for="doj">Date of Joining</label>						
                                    <input datetime-picker class="form-control" id="doj" ng-model="" placeholder="Enter Date of Joining" required>
                                </div>
                            </div> 
                        </div>
                        <div class="d-flex bg-light p-2">
                            <a href="#" class="ml-auto btn btn-success">Add Another</a>
                        </div>
					</form>					
                </div>
                <div class="p-3 border mb-5">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="bg-secondary text-white">
                            <tr>
                                <th scope="col">Sl No</th>
                                <th scope="col">Name of the Individuals</th>
                                <th scope="col">CIF No</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Joining Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>5/4/19</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>5/4/19</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>5/4/19</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
			</div>
			
		</div>		
	</div>
</section>